//Обнулятель
@import "_nullstyle";

body {
	font-family: arial;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 1 auto;
	.header {
		background-color: #445162;
		padding: 50px 0;
		.container {
			max-width: 1180px;
			margin: 0 auto;
			.header__row {
				display: flex;
				justify-content: space-between;
				.header__body {
					color: #fff;
					padding: 0 30px 0 0;
					.header__title {
						text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
						font-size: 60px;
						margin: 0px 0px 38px 0px;
					}
					.header__list li {
						background: url('/img/check_icon.png')0 1px no-repeat;
						text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
						font-size: 20px;
						line-height: 22px;
						padding: 0 0 0 36px;
						margin: 0px 0px 15px 0px;
						&:last-child{
							margin: 0;
						}
					}
				}
			}
		}
	}
}
