* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: -1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-----------------------------------------------*/
body {
  font-family: arial;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.content .header {
  background-color: #445162;
  padding: 50px 0;
}

.content .header .container {
  max-width: 1180px;
  margin: 0 auto;
}

.content .header .container .header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .header .container .header__row .header__body {
  color: #fff;
  padding: 0 30px 0 0;
}

.content .header .container .header__row .header__body .header__title {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 60px;
  margin: 0px 0px 38px 0px;
}

.content .header .container .header__row .header__body .header__list li {
  background: url("/img/check_icon.png") 0 1px no-repeat;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 20px;
  line-height: 22px;
  padding: 0 0 0 36px;
  margin: 0px 0px 15px 0px;
}

.content .header .container .header__row .header__body .header__list li:last-child {
  margin: 0;
}
