//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Lato";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1100;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: #000;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>========================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>======================================================================
//@import "datepicker";
@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>======================================================================

//<ОСНОВНОЙ БЛОК>===========================================================================
.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}
//================================================================================

.header-block {
	// .header-block__title
	text-align: center;
	&__title {
		font-size: 34px;
		font-weight: 700;
		letter-spacing: 8.95px;
		text-transform: uppercase;
		padding: 0px 0px 30px 0px;
		position: relative;
		&:after {
			content: "";
			width: 81px;
			height: 2px;
			position: absolute;
			left: 50%;
			bottom: 0;
			margin: 0px 0px 0px -40.5px;
			background-color: #000;
		}
	}
	// .header-block__subtitle
	&__subtitle {
		// Style for "We special"
		color: #868585;
		font-size: 14px;
		font-weight: 300;
		line-height: 25.89px;
		max-width: 688px;
		margin: 0px auto;
		padding: 37px 0px 0px 0px;
	}
}
//==============================================================================
//</ОСНОВНОЙ БЛОК>===========================================================================
.mainblock {
	flex: 1 1 auto;
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	//align-items: center;
	text-align: center;
	padding: 50px 0;
	&__content {
		position: relative;
		z-index: 1;
		flex: 1 1 auto;
		._container {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}
	}
	@media (max-width: 400px) {
		padding: 10px 10px;
	}

	&__logo {
	}

	&__text {
		color: #ffffff;
		position: relative;
		padding: 0px 0px 45px 0px;
		margin: 30px 0px 0px 0px;
		&:after {
			content: "";
			width: 105px;
			height: 2px;
			background-color: #fff;
			position: absolute;
			left: 50%;
			margin: 0px 0px 0px -52.5px;
			bottom: 0;
		}
		@media (max-width: $md3+px) {
			margin: 0px 0px 25px 0px;
			padding: 0px 0px 35px 0px;
		}
	}

	&__title {
		font-size: 34px;
		line-height: 40px;
		text-transform: uppercase;
		font-family: "Lato Black";
		font-weight: 900;
		letter-spacing: 5.43px;
		margin: 0px 0px 10px 0px;
		@media (max-width: 400px) {
			font-size: 24px;
		}
	}

	&__subtitle {
		font-size: 26px;
		letter-spacing: 4.15px;
		@media (max-width: 400px) {
			font-size: 16px;
		}
	}

	&__footer {
		display: inline-flex;
		flex-direction: column;
	}

	&__btn {
		margin: 0px 0px 60px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0 30px 0;
		}
	}

	&__arrow {
		position: relative;
		animation: arrow 1.5s infinite ease;
		margin: 0px 0px 15px 0px;
	}

	&__image {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
.btn {
	display: inline-block;
	padding: 0px 42px;
	height: 47px;
	line-height: 44px;
	font-size: 16px;
	background-color: transparent;
	text-transform: uppercase;
	letter-spacing: 0.67px;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transform: scale(0);
		transition: 0.3s;
	}
	&_w {
		color: #fff;
		border: 1px solid #fff;
		&:after {
			background-color: #fff;
		}
		&:hover {
			color: #000;
		}
	}
	&_b {
		color: #000;
		border: 1px solid #000;
		&:after {
			background-color: #000;
		}
		&:hover {
			color: #fff;
		}
	}
	span {
		transition: 0.3s;
		position: relative;
		z-index: 1;
	}
	&:hover {
		&:after {
			transform: scale(1);
		}
	}
}

@keyframes arrow {
	0% {
		top: 0;
	}
	50% {
		top: 15px;
	}
	100% {
		top: 0;
	}
}

.content {
	background-color: #fff;
	position: relative;
	z-index: 50;
}

.menu {
	padding: 22px 0;
	@media (max-width: 400px) {
		padding: 22px 0 12px 0;
	}
	&_mb {
		margin: 0px 0px 130px 0px;
		@media (max-width: $md2+px) {
			margin: 0px 0px 50px 0px;
		}
	}
	border-bottom: 1px solid #f2f2f2;
	// .menu__items
	&__items {
	}
	// .menu__list
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		li {
			margin: 0px 25px;
			@media (max-width: $md2+px) {
				margin: 0px 15px 10px 15px;
			}
			@media (max-width: $md3+px) {
				flex-wrap: 0 1 25%;
			}
		}
		@media (max-width: 400px) {
			flex-wrap: wrap;
		}
	}
	// .menu__link
	&__link {
		color: #3c3c3c;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 700;
		animation: (0.3s, 0s);
		&:hover {
			color: #ada074;
		}
		&_act {
			color: #ada074;
		}
	}
}

.about {
	padding: 0px 0px 60px 0px;
	// .about__header-block
	&__header-block {
		margin: 0px 0px 69px 0px;
	}
	// .about__body
	&__body {
		text-align: center;
	}
	// .about__row
	&__row {
		display: inline-flex;
		margin: 0px -15px;
		@media (max-width: $md3+px) {
			display: block;
		}
	}
	// .about__column
	&__column {
		margin: 0px 0px 30px 0px;
		flex: 0 1 33.333%;
		padding: 0px 15px;
	}
	// .about__item
	&__item {
		text-align: center;
		max-width: 260px;
		@media (max-width: $md3+px) {
			max-width: none;
		}
	}
	// .about__icon
	&__icon {
		height: 92px;
		width: 92px;
		border-radius: 50%;
		border: 1px solid #f2f2f2;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin: 0px 0px 40px 0px;
		&_l {
			img {
				position: relative;
				left: 5px;
			}
		}
		@media (max-width: $md3+px) {
			margin: 0px 0px 15px 0px;
		}
	}
	// .about__title
	&__title {
		font-size: 22px;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 3.52px;
		margin: 0px 0px 33px 0px;
		@media (max-width: $md2+px) {
			font-size: 18px;
			margin: 0px 0px 25px 0px;
		}
		@media (max-width: $md3+px) {
			margin: 0px 0px 15px 0px;
		}
	}
	// .about__text
	&__text {
		color: #868585;
		font-size: 14px;
		font-weight: 300;
		line-height: 26px;
	}
}

.portfolio {
	background-color: #f3f3f3;
	padding: 105px 0px 0px 0px;
	@media (max-width: $md2+px) {
		padding: 50px 0px 40px 0px;
	}
	// .portfolio__header-block
	&__header-block {
		margin: 0px 0px 50px 0px;
		@media (max-width: $md2+px) {
			margin: 0px 0px 30px 0px;
		}
		@media (max-width: $md3+px) {
			margin: 0px 0px 20px 0px;
		}
	}
	// .portfolio__filter
	&__filter {
		margin: 0px 0px 135px 0px;
		@media (max-width: $md2+px) {
			margin: 0px 0px 50px 0px;
		}
		@media (max-width: $md2+px) {
			margin: 0px 0px 20px 0px;
		}
	}
	// .portfolio__items
	&__items {
		display: flex;
		margin: 0px -15px;
		flex-wrap: wrap;
	}
	// .portfolio__column
	&__column {
		display: inline-flex;
		flex: 0 1 50%;
		padding: 0px 15px;
		margin: 0px 0px 30px 0px;
		@media (max-width: $md3+px) {
			flex: 1 1 100%;
			margin: 0px 0px 20px 0px;
		}
	}
	// .portfolio__item
	&__item {
		img {
			max-width: 100%;
		}
	}
	// .portfolio__footer
	&__footer {
		padding: 35px 0px 0px 0px;
		text-align: center;
		@media (max-width: $md3+px) {
			padding: 15px 0px 0px 0px;
		}
	}
	// .portfolio__btn
	&__btn {
		margin: 0px 0px 62px 0px;
	}
}

.filter {
	// .filter__list
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .filter__item
	&__item {
		color: #3c3c3c;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0px 25px;
		cursor: pointer;
		&.active {
			color: #ada074;
		}
		@media (max-width: $md3+px) {
			margin: 0 15px;
		}
	}
}

.hide {
	display: none;
}

.partners {
	background: url("../img/partners/bg.jpg") center / cover no-repeat;
	padding: 100px 0px 70px 0px;
	@media (max-width: $md3+px) {
		padding: 30px 0px 0px 0px;
	}
	// .partners__title
	&__title {
		font-size: 30px;
		font-weight: 300;
		color: #fff;
		text-align: center;
		letter-spacing: 1.8px;
		margin: 0px 0px 90px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 30px 0px;
		}
	}
	// .partners__items
	&__items {
		flex-wrap: wrap;
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		@media (max-width: $md3+px) {
			padding: 0px 30px;
		}
	}
	// .partners__column
	&__column {
		padding: 0px 50px;
	}
	// .partners__item
	&__item {
	}
}

.contacts {
	padding: 180px 0px 80px 0px;
	@media (max-width:$md3+px){
		padding: 30px 0px 30px 0px;
	}
	// .contacts__header-block
	&__header-block {
		margin: 0px 0px 120px 0px;
		@media (max-width:$md3+px){
			margin: 0px 0px 50px 0px;
		}
	}
	// .contacts__body
	&__body {
		display: flex;
		margin: 0px -25px;
		@media (max-width: $md3+px) {
			display: block;
		}
	}
	// .contacts__column
	&__column {
		flex: 0 1 50%;
		padding: 0px 25px;
	}
	// .contacts__form
	&__form {
		text-align: right;
		@media (max-width: $md3+px) {
			text-align: left;
			margin: 0px 0px 30px 0px;
		}
	}
	// .contacts__content
	&__content {
		max-width: 260px;
		@media (max-width: $md3+px) {
			max-width: none;
		}
	}
	// .contacts__text
	&__text {
		font-size: 14px;
		font-weight: 300;
		line-height: 26px;
		margin: 0px 0px 35px 0px;
	}
	// .contacts__name
	&__name {
		font-size: 14px;
		font-weight: 700;
		margin: 0px 0px 25px 0px;
		// .contacts__email
	}
	&__email {
		margin: 15px 0px 0px 0px;
		font-size: 14px;
		a {
			font-weight: 700;
			color: #000;
		}
	}
}

.form-contacts {
	&__body {
		display: inline-block;
		width: 100%;
		max-width: 385px;
		@media (max-width: $md3+px) {
			max-width: none;
			display: block;
		}
	}
	// .form-contacts__row
	&__row {
		display: flex;
		margin: 0px -15px 70px -15px;
		@media (max-width:$md3+px){
			display: block;
			margin: 0px -15px 30px -15px;
		}
	}
	// .form-contacts__column
	&__column {
		flex: 0 1 50%;
		padding: 0px 15px;
		@media (max-width:$md3+px){
			&:first-child {
				margin: 0px 0px 30px 0px;
			}
		}

	}
	// .form-contacts__input
	&__input {
	}
	// .form-contacts__label
	&__label {
		font-size: 14px;
		font-weight: 700;
		text-align: left;
		margin: 0px 0px 10px 0px;
	}
	&__btn.btn {
		margin: 35px 0px 0px 0px;
		@media (max-width:$md3+px){
			margin: 15px 0px 0px 0px;
			width: 100%;
		}
	}
}
.social {
	display: flex;
	// .social__item
	&__item {
		margin: 0px 15px 0px 0px;
	}
}
