  h6 {color: yellow}
  h1 { color: yellow;
  background-color: black }
  p {
    color: green;
    font-size: 30px;
    background-color: black;
  }
  #super {color: red}
  a {  color: red;  }
  .success {color: gray}
  .big {font-size: 12px}

  body {font-size: 24px;}

  div.main h2 {
    color: green;
  }
