@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
* {
   padding: 0px;
   margin: 0px;
   border: 0px;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

aside,
nav,
footer,
header,
section {
   display: block;
}

html,
body {
   height: 100%;
   margin: 0;
   padding: 0;
   min-width: 320px;
   position: relative;
   width: 100%;
   color: #000;
}

body {
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   font-family: "Lato";
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
body.lock {
   overflow: hidden;
}
@media (max-width: 767.98px) {
   body.lock {
      width: 100%;
      position: fixed;
      overflow: hidden;
   }
}

input,
button,
textarea {
   font-family: "Lato";
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   font-size: 0;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}
.container {
   max-width: 1100px;
   margin: 0 auto;
   width: 100%;
}
@media (max-width: 1112px) {
   .container {
      max-width: 970px;
   }
}
@media (max-width: 992.98px) {
   .container {
      max-width: 750px;
   }
}
@media (max-width: 767.98px) {
   .container {
      max-width: none;
      padding: 0 10px;
   }
}

/*!
 * baguetteBox.js
 * @author  feimosi
 * @version %%INJECT_VERSION%%
 * @url https://github.com/feimosi/baguetteBox.js
 */
