@import "_header";
//?lorem
body {
   font-size: 20px;
   div {
      font-size: 10px;
      color: blue;
   }
   h1 {
      color: blueviolet;
   }
}
.block {
   color: aqua;
   background-color: black;
   font-size: 30px;
   display: inline-block;
}
.block__item {
   color: aqua;
   background-color: black;
   font-size: 30px;
   display: inline-block;
}
.block__ {
}
