@import "_header";
//?lorem
body {
   font-size: 20px;
   div {
      font-size: 10px;
      color: blue;
   }
   h1 {
      color: blueviolet;
   }
}
.block {
}
.block__item {
   color: aqua;
}
.block__ {
}
