@import "nullstyle.scss";

body {
   background: #e8e8e8 url("/img/Ellipse_1_copy.png") 50% 130px no-repeat;
}

.content {
   padding: 168px 0 137px 0;
   max-width: 842px;
   margin: 0 auto;
}
.content__top {
   text-align: center;
   margin: 0px 0px 65px 0px;
}
.content__title {
   opacity: 0.6;
   color: #273d46;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 40px;
   text-transform: uppercase;
   letter-spacing: 2.8px;
}
.content__text {
   color: #273d46;
   font-size: 36px;
   line-height: 50px;
}
.content__image {
   padding: 10px;
   background: #fff;
}

.content__bottom {
   padding: 0 45px;
}
.bottom__text {
   opacity: 0.8;
   color: #273d46;
   font-size: 24px;
   line-height: 40px;
   p {
      margin: 0px 0px 30px 0px;
      &:last-child {
         margin: 0 0 0 0;
      }
   }
}
.bottom__list {
   li {
      font-family: arial;
      font-size: 20px;
      margin: 0px 0px 13px 0px;
      background: url("/img/check_icon.png") left no-repeat;
      padding: 0 0 0 35px;
      line-height: 36px;
   }
   li:nth-child(1) {
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
      color: #273d46;
   }
   li:nth-child(2) {
      color: #80b7b3;
      font-style: italic;
   }
   li:nth-child(3) {
      color: #273d46;
      font-weight: bold;
   }
   li:nth-child(4) {
      opacity: 0.3;
      color: #273d46;
      text-decoration: line-through;
   }
}
.buttom__batton {
   height: 40px;
   font-family: arial;
   color: #ffffff;
   line-height: 40px;
   text-transform: uppercase;
   letter-spacing: 2.8px;
   padding: 0 30px;
   background: #80b7b3;
   box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
   border-radius: 20px;
   display: inline-block;
   span {
      padding: 0px 30px 0px 0px;
      background: url("/img/Shape_2.svg") right no-repeat;
   }
}
