//====================================================================================================

//====================================================================================================

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.header {
   &__menu {
      max-width:1150px;
      margin: 0 auto;
   }
   @media (max-width:767px){
      position: relative;
      max-width: 767px;
      z-index: 5;
      &__menu {
         height: 50px;
         display: flex;
         align-items: center;
         width: 100%;
      }
   }
}

.logo {
   display: flex;
   align-items: center;
   min-width: 154px;
   min-height: 50px;
   &__drop {
      display: flex;
      flex-direction: column;
      margin: 0px 0px 0px 10px;
   }
   &__icon {
      margin: 20px 0px;
      max-height: 40px;
   }
   &__title {
      font-size: 16px;
      font-family: roboto;
      font-weight: 600;
      color: #3E3F43;
      line-height: 20px;
   } 
   &__title-mini {
      font-size: 13px;
      text-transform: uppercase;
      font-family: roboto;
      color: #3E3F43;
      text-align: start;
   }
   @media (max-width:767px) {
      position: fixed;
      top: 0px;
      left: 50%;
      transform:translate3d(-50%,0,0);
   }
}

.menu {
   &__row {
   }
   &__body {
      display: flex;
      justify-content:space-between;
      align-items: center;
   }
   &__list {
      display: flex;
      width: 707px;
      justify-content: space-between;
      padding: 0px 15px;
   }
   &__link {
   font-size: 16px;
   line-height: 20px;
   color: #263c5c;
   margin: 0px 0px 0px 20p;
   padding: 0px 0px 3px 0px;
   border-bottom: 1px solid #fff;
   transition: border-bottom 0.5s linear;
   &:hover {
      transition: border-bottom 0.6s linear;
      border-bottom: 1px solid #263c5c;
      }
   }
   @media (max-width:767px) {
      position: absolute;
   &__row {
   }
   &__body {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: auto;
      background-color: #fff;
      transform: translate3d(0,-100%,0);
      transition: 1s;
      &._active {
         transform: translate3d(0,0%,0);
         transition: 1s;
         }
      }
   &__list {
      flex-direction: column;
      align-items:center;
      justify-content: center;
      li {
         padding: 0px 0px 35px;
         }
      }
   &__link {
      padding: 0px;
      font-size: 20px;
      }
   }
}
.icon-menu {
	display: none;
	@media (max-width:767px) {
		display: block;
		position: absolute;
		top: 15px;
		right: 0;
      left: 93%;
      right: 10%;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 4;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #263c5c;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}

.contacts{
   display: flex;
   position: relative;
   width: 166px;
   justify-content: space-between;
   align-items: center;
   @media (max-width:767px){
      position: fixed;
      top: 80%;
      left: 0;
      left: 50%;
      transform:translate3d(-50%,0,0);
   }
   .vk {
      font-size: 20px;
      padding: 7px;
      font-weight: 700;
      border-radius: 50%;
      border: 2px solid #263c5c;
      color: #263c5c;
      transition: 0.4s;
      &:hover {
         color: #6A90C8;
         border: 2px solid #6A90C8;
         transition: 0.4s;
      }
      @media (max-width:767px){
         font-size: 30px;
         margin: 0px 10px;
      }
   }
   .odnoklasniki {
      font-size: 20px;
      font-weight: 700;
      padding: 7px 12px;
      border-radius: 50%;
      border: 2px solid #263c5c;
      color: #263c5c;
      transition: 0.4s;
      &:hover {
         color: #DE862F;
         border: 2px solid #DE862F;
         transition: 0.4s;
      }
      @media (max-width:767px){
         font-size: 30px;
         margin: 0px 10px;
      }
   }
   .whatsapp {
      font-size: 20px;
      font-weight: 700;
      padding: 7px 9.5px;
      border-radius: 50%;
      border: 2px solid #263c5c;
      color: #263c5c;
      transition: 0.4s;
      &:hover {
         color: #83CB79;
         border: 2px solid #83CB79;
         transition: 0.4s;
      }
      @media (max-width:767px){
         font-size: 30px;
         margin: 0px 10px;
      }
   }
}

.hide {
   position: none;
   @media (max-width:767px){
      position: relative;
      justify-content:center;
      align-items: center;
      left: 50px;
   }
   
   &__logo {
      display: flex;
      justify-content:center;
      align-items: center;
      max-height: 50px;
      width: 100%;
   }
   
   &__logo-drop {
      display: flex;
      flex-direction: column;
      margin: 0px 0px 0px 10px;
   }
   
   &__logo-title {
      font-size: 16px;
      font-family: roboto;
      font-weight: 600;
      color: #3E3F43;
      line-height: 20px;
   }

   &__logo-title-mini {
      font-size: 13px;
      text-transform: uppercase;
      font-family: roboto;
      color: #3E3F43;
      text-align: start;
   }
}
.logo {

   &__icon {
      margin: 20px 0px;
      max-height: 40px;
   }
}
