//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "roboto";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 280px;
$maxWidth: 1920;
$maxWidthContainer: 1180;
$md1: $maxWidthContainer + 15;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: #000;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	padding: 0px 15px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	position: absolute;
	width: 100%;
	height: 92%;
	top: 80px;
	left: 0;
	display: flex;
	flex-direction: column;
	@media (max-width:900px){
		top: 50px;
		height: 95%;
	}
}
.main-screen {
	flex: 1 0 100%;
	position: relative; 
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0;
	}
	.bg__color {
		background: rgba(0,0,0,0.5);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;
	}
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
.page__one-containerrow {
   display: flex;
   align-items: center;
   max-width: 1150px;
	height: 100%;
   margin: 0 auto;
   text-align: center;
   justify-content: center;
}

.page__one-container{
   display: flex;
   max-width: 1150px;
   flex-direction: column;
	z-index: 5;
}

.page__one-title {
   font-size: 56px;
   line-height: 56px;
   color: #F5C428;
   font-weight: 600;
   margin: 0px 0px 30px 0px;
}
.page__one-minititle {
   font-size: 20px;
   color: #fff;
}

.btn {
   display: inline-block;
   background: #fff;
}

.page__one-btn {
	display: inline-block;
   margin: 50px 0px 10px;
   padding: 16px 30px;
   font-size: 17px;
   border-radius: 30px;
   line-height: 30px;
   transition: 0.4s;
   background: #fff;
	color: #000;
   &:hover {
      margin: 48px 0px 8px;
      padding: 18px 40px;
      transition: 0.4s;
   }
   &:active {
      margin: 64px 0px 8px;
      padding: 10px 40px 10px;
   }
	.img__button {
		position: relative;
		max-width: 20px;
		margin: 0px 5px 0px 0px;
	}
}

