//Обнулятель
//@import "_nullstyle";


body {
	background-color: #000;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	height: 100%;
	overflow: hidden;

	display: flex;
	justify-content: center;
	align-items: center;
}
.wave-btn {
	width: 280px;
	height: 60px;
	display: flex;
	
	overflow: hidden;

	position: relative;
	
	transition: all 0.8 ease 0s;

	justify-content: center;
	align-items: center;
	
	border-radius: 0 0 10px 10px;
	text-decoration: none;

}
.wave_btn:hover .wave-btn__waves{
	top: 50px;
	transform: 2s;
}

.wave-btn__text {
	font-family: arial;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 8px;
	position: relative;
	z-index: 1;
}
.wave-btn__waves {
	position: absolute;
	width: 280px;
	height: 280px;
	background-color: #4973ff;
	top: 0;
	left: 0;
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
}
.wave-btn__waves:after, .wave-btn__waves:before{
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	width: 250%;
	height: 250%;

	transform: translate3d(-50%, -96%,0) rotate(0deg) scale(1);
}

.wave-btn__waves:before{
	background-color: #000;
	border-radius: 48%;
	animation: waves 5s infiite linear;
}


.wave-btn__waves:after{
	background-color: rgba(0,0,0,0.5);
	border-radius: 44%;
	animation: waves 10s infiite linear;
}

@keyframes waves { 
	0%{
		transform: translate3d(-50%, -96%,0) rotate(0deg) scale(1);
	}
	100%{
		transform: translate3d(-50%, -96%,0) rotate(360deg) scale(1);
	}
}