* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: -1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-----------------------------------------------*/
.card__bg {
  background: url("/img/Background/Bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 624px;
}

.card__bg .bg__color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(60, 208, 114, 0.8);
  max-height: 624px;
  z-index: 2;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 959px;
  margin: 0 auto;
}

.first__card-title {
  color: #ffffff;
  font-family: "SF Compact Text - Semibold";
  font-size: 35px;
  line-height: 22.63px;
  letter-spacing: -0.2px;
  padding: 61px 0px 0px 0px;
}

.first__card-content {
  display: relative;
  max-width: 457px;
  max-height: 600px;
}

.content__title {
  margin: 106px 0px 28px 0px;
  color: white;
  font-family: "Myriad Pro";
  font-size: 32px;
  line-height: 32px;
  padding: 0px 0px 0px 80px;
  background: url("/img/ico/Search_Iconw.svg") left no-repeat;
}

.content__title p {
  color: #fff;
  font-family: "Myriad Pro - Semibold";
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
}

.content__title:before {
  content: "";
}

.content__text {
  color: #fff;
  font-family: "Helvetica Neue";
  font-size: 16px;
  width: 449px;
}

.apple {
  background: #000;
  max-width: 216px;
  border-radius: 10px;
  margin: 12px 0px 50px 0px;
}

.apple__btn {
  display: inline-block;
  width: 216px;
  padding: 5px 0px 7px 80px;
  line-height: 18px;
  color: white;
  text-align: left;
  font-family: "Lucida Grande";
  font-size: 10px;
  background: url("/img/ico/Apple_logo.png") 42px 6px no-repeat;
}

.apple__btn span {
  color: white;
  font-family: "Lucida Grande";
  font-size: 19px;
  padding: 0px 0px 0px 0px;
}

.email {
  background: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
  height: 48px;
  font-family: "Myriad Pro";
  width: 296px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  padding: 0px 0px 0px 10px;
}

.email::-webkit-input-placeholder {
  color: #ffffff;
  font-family: "Myriad Pro";
  font-size: 16px;
  line-height: 24px;
  padding: 0px 0px 0px 0px;
}

.form__title {
  color: #ffffff;
  font-family: "Myriad Pro";
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

.form__btn {
  color: #3cd072;
  font-family: "Myriad Pro - Semibold";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 35px 13px 34px;
  border-radius: 5px;
  margin: 0px 0px 0px 16px;
}

.card__iphone_b {
  max-width: 401px;
  max-height: 614px;
  margin: 82px 0px 0px 90px;
}

.card__iphone_b img {
  width: 100%;
  height: auto;
}

.second__card-bg {
  position: relative;
  max-height: 624px;
  background: #f0f0f0;
  margin: 0 auto;
  z-index: -1;
}

.container {
  max-width: 959px;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.iphone_card2-b {
  width: 419px;
  height: 491px;
  margin: -40px 0px 0px 0px;
  z-index: -1;
}

.iphone_card2-w {
  position: relative;
  width: 419px;
  height: 491px;
  top: -281px;
  right: 163px;
}

.second_content-1 {
  margin: 164px 0px 0px 0px;
  width: 400px;
  height: 170px;
}

.second__content-title {
  color: #3cd072;
  font-family: "Myriad Pro - Semibold";
  font-size: 24px;
  font-weight: 600;
  line-height: 70px;
  padding: 0px 0px 0px 80px;
  top: 100px;
  right: 10px;
}

.second__content-title-1 {
  background: url("/img/ico/Share_Icon.png") left no-repeat;
}

.second__content-title-2 {
  background: url("/img/ico/Vector_Smart_Object.png") left no-repeat;
}

.second__content-text {
  color: #000000;
  font-family: "Helvetica Neue";
  font-size: 16px;
  top: 100px;
  right: 10px;
  line-height: 26px;
}

.second_content-2 {
  width: 400px;
  height: 170px;
}

.thier__container {
  max-width: 959px;
  max-height: 790px;
  margin: 0 auto;
}

.their__title {
  text-align: center;
}

.title__icon {
  margin: 48px 0px 0px 0px;
}

.title__mini {
  color: #000000;
  font-family: "Myriad Pro - Semibold";
  font-size: 24px;
  line-height: 32px;
  margin: 31px 0px 0px 0px;
}

.title__title {
  color: #3cd072;
  font-family: "Myriad Pro - Semibold";
  font-size: 36px;
  line-height: 32px;
  margin: 16px 0px 0px 0px;
}

.thier__column {
  text-align: center;
  margin: 44px 0px 0px 0px;
}

.column__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.column__title-1 {
  font-family: "Myriad Pro - Semibold";
  font-size: 24px;
  line-height: 32px;
  margin: 31px 10px 50px 0px;
}

.column__image-1 img {
  margin: 0px 0px 0px 0px;
}

.column__title-2 {
  font-family: "Myriad Pro - Semibold";
  font-size: 24px;
  line-height: 32px;
  margin: 31px 0px 50px 0px;
  padding: 0px 5px 0px 5px;
}

.column__title-3 {
  font-family: "Myriad Pro - Semibold";
  font-size: 24px;
  line-height: 32px;
  margin: 31px 0px 50px 0px;
}

.fourth__bg {
  position: relative;
  background: #000;
}

.fourth__container {
  max-height: 432px;
  max-width: 1366px;
  line-height: 32px;
  margin: 0 auto;
  text-align: center;
}

.fourth__title {
  color: #ffffff;
  font-family: "Myriad Pro - Semibold";
  font-size: 24px;
  padding: 79px 0px 16px 0px;
}

.fourth__minititle {
  color: #3cd072;
  font-family: "Myriad Pro - Semibold";
  font-size: 36px;
  padding: 0px 0px 52px 0px;
}

.spots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spots li {
  margin: 0px 5px 92px 0px;
}

.spots li:last-child {
  margin: 0px 0px 0px 0px;
}

.spots li img {
  width: 100%;
  height: auto;
}

.fiveth__bg {
  background: url("/img/Background/Bg5.png") no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 696px;
}

.fiveth__bg .fiveth__bg-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(60, 208, 114, 0.8);
  max-height: 696px;
  z-index: 2;
}

.fiveth__content {
  max-width: 480px;
  margin: 0 0px 0 auto;
}

.fiveth__title {
  font-family: MyriadPro;
  font-size: 36px;
  color: #ffffff;
  line-height: 72px;
  margin: 35px 0px 40px 0px;
  padding: 0px 0px 0px 90px;
  background: url("/img/ico/Business.png") left no-repeat;
}

.fiveth__text {
  font-family: HelveticaNeue;
  width: 452px;
  height: auto;
  font-size: 16px;
  line-height: 24px;
  margin: 0px 0px 53px 0px;
}

.fiveth__list {
  font-family: MyriadPro;
  width: 375px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  color: #ffffff;
}

.fiveth__list li {
  background: url("/img/ico/shape_1_copy_849.png") left 0px no-repeat;
  padding: 0px 0px 50px 75px;
}

.iphones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto 0 0;
  padding: 0px 0px 0px 0px;
  overflow: hidden;
}

.iphone1 {
  position: relative;
  top: 312px;
  padding: 0px 16px 0px 0px;
}

.iphone2 {
  position: relative;
  top: 224px;
  padding: 0px 16px 0px 0px;
}

.iphone3 {
  position: relative;
  top: 115px;
}

.six__card {
  background-color: #f0f0f0;
  height: 192px;
}

.six__bg {
  max-width: 959px;
  margin: 0 auto;
}

.six__title {
  font-family: MyriadPro;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  padding: 55px 0px 19px 0px;
}

.six__form input {
  border: 2px solid #3cd072;
  height: 48px;
  font-family: "Myriad Pro";
  width: 696px;
  color: #3cd072;
  font-size: 16px;
  line-height: 24px;
  padding: 0px 0px 0px 10px;
}

.six__form input::-webkit-input-placeholder {
  color: #3cd072;
  font-family: "Myriad Pro";
  font-size: 16px;
  line-height: 24px;
  padding: 0px 0px 0px 0px;
}

.six__btn {
  font-family: MyriadPro;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #3cd072;
  padding: 12px 75px;
  background-color: #000;
  border-radius: 5px;
  margin: 0px 0px 0px 24px;
}
