//Обнулятель
@import "_nullstyle";

body{
	font-family: arial;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
}

.content {
	flex: 1 1 auto;
}

.hi {
	background-color: #445162;
	padding: 50px 0;
	.hi__row {
		display: flex;
		justify-content: space-between;
		.hi__body{
			color: #fff;
			padding: 0 30px 0 0;
			.hi__title{
				text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
				font-size: 60px;
				margin: 0px 0px 38px 0px;
			}
			.hi__list li{
				background: url('/img/check_icon.png')0 1px no-repeat;
				text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
				font-size: 20px;
				line-height: 22px;
				padding: 0 0 0 36px;
				margin: 0px 0px 15px 0px;
				&:last-child{
					margin: 0;
				}
			}
		}
	}
	}
	.title {
		color: #445161;
		font-size: 30px;
		line-height: 36px;
	}
	
	.what {
		padding: 50px 0;
	}
	.what__row {
		display: flex;
	}
	.what__image {
		flex: 0 0 430px;
		img {
			max-width: 100%;
		}
	}
	.what__boody {
		flex: 1 1 auto;
		padding: 0 0 0 38px;
	}
	.what__tittle {
		margin: 0px 0px 33px 0px;
	}
	
	.what__text {
		p{
			margin: 0px 0px 25px 0px;
			color: #333333;
			font-size: 16px;
			line-height: 24px;
		}
	}

	.columns {
		background-color: #f5f5f5;
		padding: 50px 0 20px 0;
	}
	.columns__title {
		text-align: center;
		margin: 0px 0px 30px 0px;
	}
	.columns__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -8px;
	}
	.columns__column {
		padding: 0 8px;
		flex: 0 1 50%;
		margin: 0px 0px 30px 0px;
	}
	.item__row {
		display: flex;
	}
	.item__image {
		flex: 0 0 200px;
	}
	.item__body {
		flex: 1 1 auto;
		padding: 0px 0px 0px 15px;
	}
	.item__title {
		color: #445161;
		font-size: 24px;
		line-height: 30px;
		margin: 0px 0px 13px 0px;
	}
	.item__text {
		color: #333333;
		font-size: 16px;
		line-height: 24px;
	}

	.vertical {
		padding: 50px 0;
	}
	.vertical__titele {
		text-align: center;
		margin: 0px 0px 30px 0px;
	}
	.vertical__body {
		max-width: 990px;
		margin: 0px auto;
	}
	.vertical__row {
		display: flex;
		margin: 0px -22.5px;
	}
	.vertical__column {
		padding: 0px 22.5px;
		flex: 0 1 33.333%;
		display: flex;
	}
	.vertical__titem {
		background: #445162;
		color: #fff;
		padding: 0px 0px 20px 0px;
		border-radius: 5px;
		border: 1px solid #445162;
		display: flex;
		flex-direction: column;
	}
	.vertical__subtitle {
		font-size: 24px;
		text-transform: uppercase;
		text-align: center;
		padding: 12px 0;
	}
	.vertical__lable {
		background: #fff;
		text-align: center;
		color: #445162;
		padding: 15px 0;
		font-size: 40px;
	}
	.vertical__text {
		padding: 20px;
		font-size: 14px;
		line-height: 24px;
		flex: 1 1 auto;
		p  {
			margin: 0px 0px 15px 0px;
			&:last-child{
				margin: 0;
			}
		}
	}
	.vertical__btn {
		display: block;
		height: 40px;
		margin: 20px 0;
		line-height: 40px;
		text-align: center;
		border-radius: 5px;
		color: #445161;
		font-size: 18px;
		background-color: #ffffff;
	}
	
	.footer {
		background:#f5f5f5;
		.footer__row {
			display: flex;
			height: 65px;
			justify-content: center;
			align-items: center;
		}
		.footer_text {
			color: #445162;
			font-size: 12px;
			letter-spacing: 0.3px;
		}
	}