@import "nullstyle.scss";

.wrapper {
	height: 100%;
	overflow: hidden;
	min-height: 100%;
	padding: 50px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.block {

}
.block__row {
	display: flex;
	border: 20px solid #ece89d;
	margin: 0px 0px 20px 0px;
}
.block__colum {
	border: 20px solid #5e5373;
	flex-basis: 500px;
	flex-shrink: 1;

}
.block__colum_1{
	order: 3;
}
.block__colum_2{
	order: 2;
}
.block__colum_3{
	order: 1;
}

.block__item {
	background-color: #18b5a4;
	padding: 50px;
	font-size: 50px;
	color: #fff;
	font-weight: 700;
}
.block__list {
	display: flex;
	align-items: center;
}