@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: -1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-----------------------------------------------*/

body {
  min-width: 1180px;
}

.header {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logotype {
  display: inline;
  margin: 20px 0px 20px 0px;
  max-height: 40px;
}

.title__drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 0px 10px;
}

.logo__title {
  font-size: 16px;
  font-family: roboto;
  font-weight: 600;
  color: #3E3F43;
  line-height: 20px;
}

.logo__title-mini {
  font-size: 13px;
  text-transform: uppercase;
  font-family: roboto;
  color: #3E3F43;
  text-align: start;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 707px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__li {
  display: inline-block;
}

.navigation__li a {
  font-size: 16px;
  line-height: 20px;
  color: #263c5c;
  margin: 0px 10px 0px 15px;
  padding: 0px 0px 3px 0px;
  font-family: roboto;
  border-bottom: 1px solid #fff;
  -webkit-transition: border-bottom 0.5s linear;
  -o-transition: border-bottom 0.5s linear;
  transition: border-bottom 0.5s linear;
}

.navigation__li a:hover {
  -webkit-transition: border-bottom 0.6s linear;
  -o-transition: border-bottom 0.6s linear;
  transition: border-bottom 0.6s linear;
  border-bottom: 1px solid #263c5c;
}

.contacts {
  max-width: 166px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts .vk {
  margin: 0 10px;
  font-size: 20px;
  padding: 7px;
  font-weight: 700;
  border-radius: 50%;
  border: 2px solid #263c5c;
  color: #263c5c;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.contacts .vk:hover {
  color: #6A90C8;
  border: 2px solid #6A90C8;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.contacts .odnoklasniki {
  margin: 0 10px;
  font-size: 20px;
  font-weight: 700;
  padding: 7px 12px;
  border-radius: 50%;
  border: 2px solid #263c5c;
  color: #263c5c;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.contacts .odnoklasniki:hover {
  color: #DE862F;
  border: 2px solid #DE862F;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.contacts .whatsapp {
  margin: 0 10px;
  font-size: 20px;
  font-weight: 700;
  padding: 7px 9.5px;
  border-radius: 50%;
  border: 2px solid #263c5c;
  color: #263c5c;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.contacts .whatsapp:hover {
  color: #83CB79;
  border: 2px solid #83CB79;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.page__one {
  background: url("../img/Bacgrounds/bg.webp") no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.page__one .bg__color {
  background: rgba(0, 0, 0, 0.5);
  min-height: 750px;
}

.page__one-containerrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1150px;
  height: 750px;
  margin: 0 auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page__one-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page__one-title {
  font-size: 56px;
  line-height: 56px;
  color: #F5C428;
  font-weight: 600;
  font-family: roboto;
  margin: 0px 0px 30px 0px;
}

.page__one-minititle {
  font-family: roboto;
  font-size: 20px;
  color: #fff;
}

.btn {
  display: inline-block;
}

.page__one-btn {
  margin: 50px 0px 10px;
  padding: 16px 30px;
  font-family: roboto;
  font-size: 17px;
  border-radius: 30px;
  line-height: 30px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.page__one-btn img {
  max-width: 20px;
  margin: 0px 10px 0px 0px;
}

.page__one-btn:hover {
  margin: 48px 0px 8px;
  padding: 18px 40px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.page__one-btn:active {
  margin: 52px 0px 8px;
  padding: 16px 40px;
}

.video__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1150px;
  height: 950px;
  margin: 0 auto;
  text-align: center;
}

.video__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.video__title {
  font-family: roboto;
  font-size: 48px;
  font-weight: 600;
}

.video__titlemini {
  font-family: roboto;
  font-size: 28px;
}

.third__page {
  margin: 40px 0px 0px 0px;
}

.third__container {
  max-width: 1150px;
  margin: 0 auto;
}

.biotitle {
  font-size: 44px;
  color: #263c5c;
  font-weight: 600;
  text-align: center;
  padding: 0px 0px 20px;
  font-family: roboto;
}

.third__first-paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.first__paragraph-img {
  max-width: 415px;
}

.first__paragraph-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  font-family: roboto;
  padding: 10px;
}

.first__paragraph-title {
  font-size: 34px;
  color: #F5C428;
  font-weight: 600;
}

.first__paragraph-text {
  padding: 0px 34px;
  font-size: 18px;
}

.first__paragraph-text2 {
  padding: 0px 34px;
  font-size: 18px;
}

.first__paragraph-text3 {
  font-size: 18px;
  color: #5cc3fc;
  margin: 0px 0px 10px 0px;
}

.dash {
  padding: 10px 0px 15px 0px;
  font-size: 40px;
  font-weight: 400;
  line-height: 30px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.third__second-paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: roboto;
  height: 476px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.second__paragraph-title {
  font-size: 34px;
  color: #F5C428;
  font-weight: 600;
}

.second__paragraph-text {
  font-size: 20px;
}

.second__paragraph-img {
  max-width: 1150px;
  margin: 0px 0px 20px 0px;
}

.fourth__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 1150px;
  margin: 0px auto;
  text-align: center;
  font-family: roboto;
  padding: 40px 0px;
}

.fourth__page-title {
  margin: 30px 0 0px;
  font-size: 48px;
  color: white;
  font-weight: 600;
}

.fourth__page-mimititle {
  font-size: 22px;
  color: white;
  padding: 20px 0px;
}

.qablock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.qablock__row {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  max-height: 300px;
  background: #fff;
  padding: 0px 20px;
  border-radius: 5px;
  text-align: start;
}

.qablock__row::before {
  content: "Q";
  font-size: 20px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 100px;
  max-height: 30px;
  margin: 15px 0px 0px 0px;
  padding: 0px 6.5px;
}

.qablock__container {
  padding: 20px 0px 10px 15px;
}

.qablock__question {
  font-size: 18px;
  font-weight: 500;
}

.qablock__answer {
  font-size: 16px;
  padding: 20px 0 10px;
}

.usadvantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 1150px;
  margin: 0 auto;
  font-family: roboto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 40px 0px;
}

.usadvantages__title {
  font-size: 48px;
  color: #263c5c;
  font-weight: 600;
  margin: 10px 0;
}

.usadvantages__minititle {
  font-size: 22px;
  margin: 10px 0;
}

.usadvantages__flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1150px;
}

.usadvantages__flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px 20px 0px 20px;
}

.img {
  font-size: 35px;
  border: 2px solid #F5C428;
  color: #F5C428;
  border-radius: 50%;
  margin: 0px 200px 20px;
  padding: 29.5px;
  text-align: center;
}

.antages__flex-title {
  margin: 0px 0px 20px 0px;
  font-size: 22px;
  font-weight: 600;
}

.antages__flex-text {
  font-size: 16px;
}

.antages__flex-text span {
  color: #F5C428;
}

.vodomats {
  font-family: roboto;
}

.vodomats__bg {
  background: url("../img/Bacgrounds/bg2.webp") no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
}

.vodomats__bg .bg__color {
  background: rgba(34, 34, 34, 0.75);
}

.vodomats__container {
  max-width: 1150px;
  margin: 0px auto;
  text-align: center;
  padding: 40px 0px;
}

.vodomats__title {
  font-size: 48px;
  color: #f5c428;
  font-weight: 600;
}

.vodomats__minititle {
  font-size: 22px;
  color: #fff;
  padding: 30px 0 20px;
}

.vodomats__flexbox-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0px 0px 0px;
}

.vodomats__flexbox-column {
  min-height: 465px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.vodomats__flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  max-width: 460px;
  min-height: 150px;
}

.vodomats__flexbox-title {
  font-size: 26px;
  color: #f5c428;
}

.vodomats__flexbox-text {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  padding: 15px 0px;
}

.vodomats__img {
  max-width: 502px;
  margin: 0 auto;
}

.vodomats__flexbox-img {
  max-height: 465px;
}

.cantacts__bg {
  background: url("../img/Bacgrounds/bg3.webp") no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
}

.cantacts__bg .bg__color {
  background: rgba(34, 34, 34, 0.6);
}

.cantacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1150px;
  margin: 0px auto;
  padding: 40px 0 60px;
  font-family: roboto;
}

.cantacts__title {
  margin: 20px 0px;
  font-size: 56px;
  color: #F5C428;
  text-align: center;
}

.cantacts__minititle {
  margin: 20px 0px;
  font-size: 22px;
  color: #fff;
  text-align: center;
}

.cantacts__flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cantacts__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1150px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cantacts__img {
  max-width: 400px;
}

.cantacts__form {
  color: #fff;
  font-style: 15px;
}

.cantacts__form div {
  margin: 20px 0;
}

.cantacts__form input {
  padding: 12px 10px;
  margin: 10px 0;
  border-radius: 5px;
  width: 450px;
}

.cantacts__btn {
  font-size: 15px;
  padding: 12px 22px 12px 22px;
  border-radius: 5px;
}

.mapsblock {
  max-width: 1150px;
  margin: 40px auto;
}

.mapsblock__title {
  font-size: 48px;
  font-weight: 600;
  font-family: roboto;
  text-align: center;
  color: #263c5c;
  margin: 0px 0px 20px 0px;
}

.maps__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1150px;
}

.maps__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: roboto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.maps__adress-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.maps__adress-title {
  font-size: 22px;
  font-weight: 600;
  padding: 15px 0px;
}

.maps__adress-minititle {
  font-size: 16px;
}

.maps__flex {
  -box-shadow: 6px 6px 20px 1px rgba(0, 0, 0, 0.5);
}

.maps__title {
  font-size: 30px;
  padding: 20px 0px 0px 0px;
  font-family: roboto;
  font-weight: 600;
  text-align: center;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1180px;
  margin: 0px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 15px 0px 15px;
}

.footer__flex {
  width: 1150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__phone {
  font-family: roboto;
}

.footer__phone a {
  color: #3E3F43;
  text-decoration: underline;
}

.footer__email {
  font-family: roboto;
}

.footer__email a {
  color: #3E3F43;
  text-decoration: underline;
}

.footer__spcialweb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}

.footer__spcialweb a {
  color: #3E3F43;
}

.footer__spcialweb .vk {
  margin: 0px 10px 0px 10px;
}

.footer__spcialweb .odnoklasniki {
  margin: 0px 10px 0px 10px;
}

.footer__spcialweb .whatsapp {
  margin: 0px 10px 0px 10px;
}
@supports (-webkit-appearance:none){

}
