  p:first-letter
  {
  color: red;
  font-size: 30px;
  }
  span
  {
  display: inline-block;
  }
  span {
    background-color: green;
    color: white;
    font-style: italic;
  }
  h1[class = "1"]{
    text-align: right;
    font-size: 30px;
  }
  h1 {
    color: orange;
    font-size: 30px;
  }
  ul > li {
    font-weight: bold;
  }
  ol.fruits2{
    font-weight: normal;
    color: green;
  }
  ol.fruits {
    font-weight: normal;
    color: gray;
  }
  ol.vegetables {
    font-weight: normal;
    color: red;
  }
  h1.storage {
    color: blue;
  }
td.student {
  text-align: left;
  color: orange;
}
tr.sort {
  font-weight: bold;
}
tr.student td:not([class]) {
  text-align: center;
  background-color: green;
  color: white;
}
