header {
  background-color: #fc1b1b;
}

body {
  font-size: 20px;
}

body div {
  font-size: 10px;
  color: blue;
}

body h1 {
  color: blueviolet;
}

.block {
  color: aqua;
  background-color: black;
  font-size: 30px;
  display: inline-block;
}

.block__item {
  color: aqua;
  background-color: black;
  font-size: 30px;
  display: inline-block;
}
