* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: -1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-----------------------------------------------*/
body {
  background: #e8e8e8 url("/img/Ellipse_1_copy.png") 50% 130px no-repeat;
}

.content {
  padding: 168px 0 137px 0;
  max-width: 842px;
  margin: 0 auto;
}

.content__top {
  text-align: center;
  margin: 0px 0px 65px 0px;
}

.content__title {
  opacity: 0.6;
  color: #273d46;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}

.content__text {
  color: #273d46;
  font-size: 36px;
  line-height: 50px;
}

.content__image {
  padding: 10px;
  background: #fff;
}

.content__bottom {
  padding: 0 45px;
}

.bottom__text {
  opacity: 0.8;
  color: #273d46;
  font-size: 24px;
  line-height: 40px;
}

.bottom__text p {
  margin: 0px 0px 30px 0px;
}

.bottom__text p:last-child {
  margin: 0 0 0 0;
}

.bottom__list li {
  font-family: arial;
  font-size: 20px;
  margin: 0px 0px 13px 0px;
  background: url("/img/check_icon.png") left no-repeat;
  padding: 0 0 0 35px;
  line-height: 36px;
}

.bottom__list li:nth-child(1) {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  color: #273d46;
}

.bottom__list li:nth-child(2) {
  color: #80b7b3;
  font-style: italic;
}

.bottom__list li:nth-child(3) {
  color: #273d46;
  font-weight: bold;
}

.bottom__list li:nth-child(4) {
  opacity: 0.3;
  color: #273d46;
  text-decoration: line-through;
}

.buttom__batton {
  height: 40px;
  font-family: arial;
  color: #ffffff;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  padding: 0 30px;
  background: #80b7b3;
  -webkit-box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
          box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
  border-radius: 20px;
  display: inline-block;
}

.buttom__batton span {
  padding: 0px 30px 0px 0px;
  background: url("/img/Shape_2.svg") right no-repeat;
}
