//====================================================================================================
.header {
   z-index: 8;
   background-color: #fff;
   top: 0px;

   &__menu {
      max-width: 1180px;
      margin: 0 auto;
   }

   @media (max-width:970px) {
      position: relative;
      max-width: 970px;

      &__menu {
         display: flex;
         align-items: center;
         width: 100%;
      }
   }
}

.logo {
   display: flex;
   align-items: center;
   min-width: 154px;
   min-height: 50px;

   &__drop {
      display: flex;
      flex-direction: column;
      margin: 0px 0px 0px 10px;
   }

   &__icon {
      margin: 20px 0px;
      max-height: 40px;
      pointer-events: none;
   }

   &__title {
      font-size: 16px;
      font-family: roboto;
      font-weight: 600;
      color: #3E3F43;
      line-height: 20px;
   }

   &__title-mini {
      font-size: 13px;
      text-transform: uppercase;
      font-family: roboto;
      color: #3E3F43;
      text-align: start;
   }

   @media (max-width:970px) {
      display: none;
      position: fixed;
      top: 0px;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
   }
}

.menu {
   &__row {}

   &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 15px;

   }

   &__list {
      display: flex;
      max-width: 707px;
      width: 100%;
      justify-content: space-between;
      padding: 0px 10px 0 10px;

      li {
         a {
            &:visited {
               color: #263c5c;
            }
         }
      }
   }

   &__link {
      font-size: 16px;
      line-height: 20px;
      color: #263c5c;
      font-weight: 500;
      margin: 0px 0px 0px 20px;
      padding: 0px 0px 3px 0px;
      border-bottom: 1px solid #fff;
      transition: border-bottom 0.5s linear;

      &:nth-child(1) {
         margin: 0px 0px 0px 0px;
      }

      &:hover {
         transition: border-bottom 0.6s linear;
         border-bottom: 1px solid #263c5c;
      }
   }

   @media (max-width:970px) {
      position: absolute;

      &__body {
         z-index: 3;
         position: fixed;
         width: 100%;
         height: 100%;
         overflow: auto;
         bottom: 0;
         left: 0;
         background-color: #fff;
         transform: translate3d(200%, 0%, 0);
         transition: 1s;

         &._active {
            transform: translate3d(0, 0%, 0);
            transition: 1s;
         }
      }

      &__list {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         max-width: 900px;

         li {
            padding: 0px 0px 25px;
         }
      }

      &__link {
         padding: 0px;
         font-size: 20px;
      }

      @media (max-height:480px) {
         &__list {
            li {
               padding: 0px 0px 15px;
            }
         }
      }

      @media (max-height:320px) {
         &__list {
            li {
               padding: 0px 0px 10px;
            }
         }
      }
   }
}

.icon-menu {
   display: none;

   @media (max-width:970px) {
      display: block;
      position: absolute;
      top: 15px;
      right: 0;
      left: 85%;
      right: 0%;
      width: 30px;
      height: 18px;
      cursor: pointer;
      z-index: 12;

      span {
         transition: all 0.3s ease 0s;
         top: calc(50% - 1px);
         left: 0;
         position: absolute;
         width: 100%;
         height: 2px;
         background-color: #263c5c;

         &:first-child {
            top: 0px;
         }

         &:last-child {
            top: auto;
            bottom: 0px;
         }
      }

      &._active {
         z-index: 12;

         span {
            transform: scale(0);

            &:first-child {
               transform: rotate(-45deg);
               top: calc(50% - 1px);
            }

            &:last-child {
               transform: rotate(45deg);
               bottom: calc(50% - 1px);
            }
         }
      }
   }
}

.contacts {
   display: flex;
   min-width: 150px;
   justify-content: space-between;
   align-items: center;

   @media (max-width:970px) {
      position: fixed;
      top: 80%;
      left: 52%;
      transform: translate3d(-50%, 0, 0);
   }

   .vk a {
      font-size: 25px;
      padding: 8px 5.5px 2px 5.5px;
      font-weight: 700;
      border-radius: 50%;
      border: 2px solid #263c5c;
      color: #263c5c;
      transition: background-color, color 0.2s;

      &:hover {
         color: #fff;
         background-color: #6A90C8;
         border: 2px solid #6A90C8;
         transition: color, background-color 0.2s;
      }

      @media (max-width:970px) {
         font-size: 30px;
         padding: 8px 5.5px 2px 5.5px;
      }
   }

   .odnoklassniki a {
      font-size: 25px;
      font-weight: 700;
      padding: 8px 13px 2px 13px;
      border-radius: 50%;
      border: 2px solid #263c5c;
      color: #263c5c;
      transition: border, color 0.2s;

      &:hover {
         color: #fff;
         background-color: #DE862F;
         border: 2px solid #DE862F;
         transition: border, background-color 0.2s;
      }

      @media (max-width:970px) {
         font-size: 30px;
         padding: 8px 13px 2px 13px;
      }
   }

   .whatsapp a {
      font-size: 25px;
      font-weight: 700;
      padding: 8px 9px 1px 9px;
      font-weight: bold;
      border-radius: 50%;
      border: 2px solid #263c5c;
      color: #263c5c;
      transition: border, background-color 0.2s;

      &:hover {
         color: #fff;
         background-color: #83CB79;
         border: 2px solid #83CB79;
         transition: border, color 0.2s;
      }

      @media (max-width:970px) {
         font-size: 30px;
         padding: 8px 9px 1px 9px;
      }
   }
}

.hide {
   &__logo {
      display: none;
      justify-content: center;
      align-items: center;

      @media (max-width:970px) {
         max-height: 50px;
         z-index: 8;
         background-color: #fff;
         display: flex;
         width: 100%;
         justify-content: center;
         align-items: center;
         left: 50px;
      }
   }

   &__logo-drop {
      display: flex;
      flex-direction: column;
      margin: 0px 0px 0px 10px;
   }

   &__logo-title {
      font-size: 16px;
      font-family: roboto;
      font-weight: 600;
      color: #3E3F43;
      line-height: 20px;
   }

   &__logo-title-mini {
      font-size: 13px;
      text-transform: uppercase;
      font-family: roboto;
      color: #3E3F43;
      text-align: start;
   }
}

.logo {

   &__icon {
      margin: 20px 0px;
      max-height: 40px;
   }
}

//====================================================================================================

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/