*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: -1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*-----------------------------------------------*/
body {
   background: url('../img/Ellipse_1_copy.png')center 140px no-repeat, #e8e8e8;
}

.content {
   padding: 168px 0 137px 0;
   max-width: 841px;
   margin: 0 auto;
}

.content_top {
   text-align: center;
   margin: 0 0 63px 0;
 }

.travel {
   color: #748187;
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
   text-transform: uppercase;
   letter-spacing: 2.8px;
   line-height: 40px;
}

.donec {
   color: #273d46;
   font-size: 36px;
   line-height: 50px;
   max-width: 725px;
   margin: 0px auto;

}

.content_image {
   padding: 10px;
   background: #fff;
   box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
   margin: 0 0 85px 0;
}

.content_image img {
   max-width: 100%;
}

.content_bottom {
   padding: 0 45px;
}

.content_bottom_text {
   color: #506168;
   font-size: 24px;
   line-height: 40px;
   margin: 0 0 48px 0;
}

.content_bottom_text p{
   margin: 0 0 40px 0;
}

.content_bottom_text p:nth-last-child{
   margin: 0;
}

.list {
   margin: 0 0 59px 0;
}
.list li{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   margin-bottom: 13px;
   background: url('../img/check_icon.png') left no-repeat;
   padding: 0 0 0 35px;
}
.list li:nth-child(1){
   text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
   color: #273d46;
}

.list li:nth-child(2){
   color: #80b7b3;
   font-style: italic;
}

.list li:nth-child(3){
   color: #273d46;
   font-weight: bold;
}

.list li:nth-child(4){
   color: #b5bbbd;
   text-decoration: line-through;
}

.list li:nth-last-child{
   margin: 0;
}

.batton {
   height: 44px;
   display: inline-block;
   line-height: 44px;
   padding: 0 30px;
   border-radius: 24px;
   background-color: #80b7b3;
   box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
   color: #ffffff;
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
   text-transform: uppercase;
   letter-spacing: 2.8px;
}
.batton span{
   padding-right: 30px;
   background: url('../img/Shape_2.svg') right no-repeat;
}
