@import url(http://fonts.googleapis.com/css?family=Economica:400,700);
html {
  width: 0;
  height: 0;
}
nav.menu {
  width: 900px;
  margin: auto;
}
nav.menu:before {
  content: '' ;
  display: block;
  height: 43px;
  width: 100%;
  background: #A84DFF;
  position: absolute;
  left: 0;
  z-index: -1;
  margin-top: -8px;
}
ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 36px;
  font-size: 21px;
  text-align: center;
}
ul li.menu a {
  color: white;
  font-family: Economica;
  font-weight: bold;
  text-decoration: none;

}
li.menu {
  font-family: Economica;
  display: inline-block;
  background: #A84DFF;
  padding-left: 18px;
  padding-right: 18px;
  margin-left: -10px;
  padding-bottom: 3px;
  margin-top: -30px;
}
ul li.menu a:hover {
  font-family: Economica;
  color: #9FA1A5;
  background: #F6F6F6;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -18px;
  margin-right: -12px;
  padding-top: 7px;
  padding-bottom: 12px;
}
ul li.menu a:visited {
  font-style: Economica;
  color: white;
  display: inline-block;
  background: #A84DFF;
  padding-left: 20px;
  padding-right: 12px;
  margin-left: -10px;
  padding-top: 10px;
  padding-bottom: 4px;
}
ul li.menu a:visited:hover {
  font-style: Economica;
  color: #9FA1A5;
  display: inline-block;
  background: #F6F6F6;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  margin-left: -12px;
  margin-right: -12px;
}

nav.pagination {
  position: relative;
}
nav.pagination:before {
  content: '';
  display: block;
  top: 840px;
  height: 24px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
}
ul.pagination {
  list-style: none;
  font-size: 15px;
  position: relative;
  width: 900px;
  top: 840px;
  text-align: center;
  box-sizing: border-box;
  margin: auto;
}
ul li.pagination {
  display: inline-block;
}
ul li.pagination a {
  font-family: Economica;
  color: #A84DFF;
  box-sizing: border-box;
  text-decoration: none;
  margin: 5px;
  padding: 3px 8px;
  border: 1px solid #9FA1A5;
  border-radius: 6px;
  width: 500px;
  overflow: hidden;
  height: 20px;
}
ul li.pagination a:hover {
  background: #A84DFF;
  color: #9FA1A5;
}
ul li.next{
  display: inline-block;
  font-family: Economica;
  text-decoration: none;
}
ul li.next a{
  text-decoration: none;
  color: #A84DFF;
  margin-left: 3px;
}
ul li.next a:hover {
  color: #9FA1A5;
}
