//====================================================================================================
.popup {
	-webkit-overflow-scrolling: touch;
	z-index: 100;
	padding: 30px 10px;
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	&::before {
		content: "";
		background-color: rgba(0, 0, 0, 0.1);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity 0.8s ease 0s;
	}
	&.show {
		visibility: visible;
		overflow: auto;
		&::before {
			opacity: 1;
		}
		.popup__body {
			transform: scale(1);
		}
	}
	&._active {
		overflow: auto;
		visibility: visible;
		&::before {
			opacity: 1;
		}
		.popup__body {
			transition: all 0.3s ease 0.2s;
			transform: scale(1);
		}
	}
	// .popup__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .popup__body
	&__body {
		transform: scale(0);
		transition: all 0.3s ease 0s;
		background-color: rgba(255,255,255,0.7);
		backdrop-filter: blur(15px);
		box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 1);
		padding: 50px;
		width: 100%;
		max-width: 800px;
		border-radius: 10px;
	}
	// .popup__close
	&__close {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 15px;
		right: 20px;
		cursor: pointer;
		z-index: 30;
		font-size: 20px;
		color:#263c5c;
		//background: url("../img/icons/close.svg") 0 0 no-repeat;
		@media (max-width:900px){
			font-size: 30px;
		}
	}
}
//====================================================================================================
//====================================================================================================

.popup {
	&__content {
	}

	&__body {
		justify-content: space-between;
		align-items: center;
	}

	&__form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	&__title {
		font-size: 30px;
		font-weight: 600;
		min-width: 200px;
		margin: 0px 0px 30px 0px;
		color: #263c5c;
		@media (max-width:460px){
			font-size: 20px;
			word-wrap: none;
		}
	}
}
.form {

	&__item {
		display: flex;
		flex-direction: column;
		justify-content:center;
		align-items: center;
		margin: 0px 0px 30px 0px;
		width: 100%;
	}
	
	&__input {
		padding: 10px 0px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.7);
		border-radius: 0px;
		background-color: rgba(255,255,255, 0);
		font-size: 16px;
		width: 60%;
		min-width: 250px;
		color: #000;
		&::placeholder {
			color: rgba(0, 0, 0, 0.7);
		}
		&._error {
			border-bottom: 1px solid red;
		}
	}
}
.cantacts {
	&__btn {
		margin: 10px 0px 5px 0px;
		width: 30%;
		min-width: 150px;
		padding: 10px 30px;
		border-radius: 10px;
		font-size: 18px;
		color: #fff;
		background-color: #263c5c;
		box-shadow: 3px 2px 10px 1px rgba(20, 20, 20, 0.6);
		&:hover {
			background-color: #1c2d46;
		}
		&:active {
			margin: 15px 0px 0px 0px;
			box-shadow: -2px 0px 15px 1px rgba(20, 20, 20, 0.8);
		}
	}
}
