@import url(http://fonts.googleapis.com/css?family=Economica:400,700);
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: -1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*-----------------------------------------------*/

.head {

}

.heade {

}
.navigate:before{
   content: '';
   position: absolute;
   display: block;
   left: 0;
   top: 0;
   height: 60px;
   width: 100%;
   z-index: -1;
   background: #1AA4FF;
}

.navigate {
   position: relative;
   display: flex;
   justify-content: center;
   width: 100%;
   min-width: 1000px;
   padding: 15px 0;
   z-index: 10;
   background: #1AA4FF;
}

.home>a:hover{
   color: #9FA1A0;
   background: #EEEEEE;
   padding: 16px 10px;
   margin: 0;
   transition: 0.4s;
}

.homew>a:hover{
   color: #9FA1A0;
   background: #EEEEEE;
   padding: 16px 10px;
   margin: 0;
   transition: 0.4s;
}

.home a{
   font-family: Economica;
   font-size: 25px;
   text-transform: uppercase;
   font-weight: bold;
   color: white;
   margin: 0px 10px 0 10px;
}

.homew>a{
   font-family: Economica;
   font-size: 25px;
   text-transform: uppercase;
   font-weight: bold;
   color: white;
   margin: 0px 10px 0 10px;
}

.homew:hover .travels{
   display: flex;
}

.travels {
   display: none;
   position: absolute;
   justify-content: center;
   left: 0;
   top: 60px;
   color: #9FA1A0;
   background: #EEEEEE;
   width: 100%;
   padding: 10px;
   box-shadow: 0px 10px 10px -9px black;
}
.travel a{
   color: #9FA1A0;
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   margin: 0 10px 0 10px;
   transition: 1s;
}
.travel a:hover{
   color: black;
}
.roe {
   font-size: 25px;
}
