//====================================================================================================

//Burger
.icon-menu {
		display: block;
		position: relative;
		top: 0px;
		right: 10px;
		width: 33px;
		height: 20px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: #bea67c;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
}

.header {
	max-width: 1850px;
	margin: 31px auto 0;
	z-index: 10;
	position: relative;
	width: 100%;
	font-family: "Proxima Nova";
	&__row {
	}
	
	&__menu {
		display: flex;
		justify-content:space-between;
		align-items: center;
	}
}
.menu {
	color: #fff;
	
	&__icon {
	}
	
	&__icon-burger {
		display: flex;
		width: 88px;
		height: 22px;
		justify-content:center;
		align-items: center;
	}

	&__icon-title {
		opacity: 0.5;
		color: #ffffff;
		
		font-size: 15px;
		font-weight: 700;
		line-height: 27px;
		text-transform: uppercase;
	}
	
	&__title {
		width: 212px;
	}

	&__nav {
		margin: 0px 0px 0px 175px;
		display: flex;
		width: 706px;
		justify-content: space-between;
	}

	&__item {
		a {
		opacity: 0.5;
		color: #ffffff;
		font-size: 15px;
		font-weight: 700;
		line-height: 27px;
		text-align: left;
		text-transform: uppercase;
		letter-spacing: 0.38px;
		}
	}

	&__warning {
	}

	&__languages {
		display: flex;
		justify-content:center;
		align-items: center;
	}
}
.icon-menu {
}
.languages {

	&__title {
		opacity: 0.5;
		color: #ffffff;
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.75px;
		margin: 0px 0px 0px 54px;
	}

	&__icon {
	}
}





//====================================================================================================

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/
